.jumbotron {
    margin-top: 150px;
    background-color: transparent !important;
}

.display-4 {
    margin-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    background-color: white;
    padding: 20px;
}

.lead {
    margin-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1.5px;
}